.rendu {
  color: green;
}

.nonRendu {
  color:red;
}

.container {
  display:flex;
  flex-direction: column;
}

.assignment-card {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  min-width: 33em;
}

.ajouterBtn {
  align-self: center;
}

.connectedZone {
  display: flex;
  align-items: center;
  white-space: pre;
}

.display-block {
  display: block;
  margin-right: 3em;
  min-width: 15em;
  max-width: 15em;
}

.photoProf {
  width: 70px;
  height: 70px;
}

.photoMatiere {
  margin-right: 3em;
}

.renduEtPhotoProf {
  display: flex;
  flex-direction: row-reverse;
  font-size: large;
}

.textDecoration {
  text-decoration: unset;
}

.matList {
  margin-bottom: 5em;
  align-self: center;
}

.displayFlex {
  display: flex;
}

.borderDouble {
  border: double;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.column {
  flex: 50%;
  max-width: max-content;
}

.boutonsPages {
  display: flex;
  justify-content: center;
}

.addDataButton {
  margin-left: 30px;
}

.loginButtons {
  padding: 10px;
}

.buttonBar {
  display: flex;
  justify-content: space-around;
}


.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}
