<mat-stepper [linear]="isLinear" #stepper orientation="horizontal">
  <mat-step [stepControl]="nomAssignmentFormGroup">
    <form [formGroup]="nomAssignmentFormGroup">
      <ng-template matStepLabel>Saisir le nom du devoir</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Nom du devoir</mat-label>
        <input matInput formControlName="nomDevoir" [(ngModel)]="nomDevoir" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="nomAuteurFormGroup" label="Saisir le nom et prénom de l'élève">
    <form [formGroup]="nomAuteurFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Nom & Prénom de l'élève</mat-label>
        <input matInput formControlName="nomAuteur" [(ngModel)]="nomEleve" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="dateDeRenduFormGroup" label="Saisir la date de rendu">
    <form [formGroup]="dateDeRenduFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Date de rendu</mat-label>
        <input required matInput [matDatepicker]="picker" formControlName="dateDeRendu" [(ngModel)]="dateDeRendu" name="dateRendu">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="matiereFormGroup" label="Choisir la matière">
    <form [formGroup]="matiereFormGroup">
      <div class="affichageMatiereAvecSelect">
        <mat-form-field appearance="fill">
          <mat-label>Choix de la matière</mat-label>
          <mat-select [(ngModel)]="matiereChoisi" name="selectMatiere" required formControlName="matiere">
            <mat-option *ngFor="let matiere of matieres" [value]="matiere">
              {{matiere.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <div class="affichageMatiere">
          <img src="{{matiereChoisi.photoMatiere}}" alt="Base de données" class="imageMatiereEtProf" *ngIf="matiereChoisi">
          <p *ngIf="matiereChoisi" class="coursDirige">Cours dirigé par : </p>
          <img src="{{matiereChoisi.photoProf}}" alt="Prof Base de données" class="imageMatiereEtProf" *ngIf="matiereChoisi">
        </div>
      </div>

      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="remarqueFormGroup" label="Saisir une remarque éventuelle">
    <form [formGroup]="remarqueFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Remarque</mat-label>
        <textarea matInput formControlName="remarque" [(ngModel)]="remarque"></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-stroked-button matStepperNext color="primary" (click)="onSubmit($event)">
          Ajouter le devoir
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Fin</ng-template>
    <p>Le devoir a été ajouté !</p>
  </mat-step>
</mat-stepper>